In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import csv

In [52]:
df_c = pd.read_csv('../data/heart_disease/processed.cleveland.data', header=None)
df_h = pd.read_csv('../data/heart_disease/processed.hungarian.data', header=None)
df_s = pd.read_csv('../data/heart_disease/processed.switzerland.data', header=None)

In [53]:
df_c = df_c[[0, 1, 2, 5]]
df_h = df_h[[0, 1, 2, 5]]
df_s = df_s[[0, 1, 2, 5]]

In [54]:
df_c = df_c.rename(columns={0:'age', 1:'sex', 2:'cp', 5:'fbs'})
df_h = df_h.rename(columns={0:'age', 1:'sex', 2:'cp', 5:'fbs'})
df_s = df_s.rename(columns={0:'age', 1:'sex', 2:'cp', 5:'fbs'})

In [55]:
df_c['location'] = 0
df_h['location'] = 1
df_s['location'] = 2

In [118]:
df = pd.DataFrame(columns=['age', 'sex','cp', 'fbs', 'location'])
df.head()

Empty DataFrame
Columns: [age, sex, cp, fbs, location]
Index: []

In [119]:
df = pd.concat([df, df_c, df_h, df_s])

In [121]:
df = df[~ (df.fbs =='?')]

In [122]:
df.shape

(637, 5)

In [61]:
df.to_csv('../data/heart_disease/heart_data.csv', index=0)

In [212]:
df.head()

    age  sex   cp  fbs location
0  63.0  1.0  1.0  1.0        0
1  67.0  1.0  4.0  0.0        0
2  67.0  1.0  4.0  0.0        0
3  37.0  1.0  3.0  0.0        0
4  41.0  0.0  2.0  0.0        0

In [220]:
df_el = df[['age', 'sex']]

In [224]:
df__ = df[['age', 'location']]
df__ = df__.rename(columns={'age':'source', 'location':'target'})

In [221]:
df_el = df_el.rename(columns={'age':'source', 'sex':'target'})

In [226]:
df_edge = pd.concat([df_el, df__])

In [227]:
df_edge.to_csv('../data/heart_disease/edge_list.csv', index=0)