In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import csv
import regex as re

In [344]:
df = pd.DataFrame(columns=['ID', 'ASIN', 'Title', 'Group', 'Similar'])
df.head()

Empty DataFrame
Columns: [ID, ASIN, Title, Group, Similar]
Index: []

In [78]:
mylines = []                                # Declare an empty list.
with open('./data/amazon-meta.txt', 'r', encoding="utf8") as myfile:    # Open lorem.txt for reading text.
    for myline in myfile:                   # For each line in the file,
        mylines.append(myline.rstrip('\n')) # strip newline and add to list.

meta_data = []
each_data = []
for i in mylines:
    if i != '':
        each_data.append(i)
    else:
        meta_data.append(each_data)
        each_data = []

In [85]:
meta_data[-1]

['Id:   548551',
 'ASIN: B00005MHUG',
 "  title: That Travelin' Two-Beat/Sings the Great Country Hits",
 '  group: Music',
 '  salesrank: 0',
 '  similar: 5  B00008OETQ  B00005O6KL  B00006RY87  B0002OTI98  B0000634HG',
 '  categories: 6',
 '   |Music[5174]|Styles[301668]|Miscellaneous[35]|Nostalgia[67175]',
 '   |Music[5174]|Styles[301668]|Broadway & Vocalists[265640]|Classic Vocalists[67178]',
 '   |Music[5174]|Styles[301668]|Broadway & Vocalists[265640]|Traditional Vocal Pop[513060]',
 '   |Music[5174]|Styles[301668]|Pop[37]|Vocal Pop[406646]|General[513062]',
 '   |Music[5174]|Styles[301668]|Pop[37]|Vocal Pop[406646]|Classic[604206]',
 '   |Music[5174]|Styles[301668]|Broadway & Vocalists[265640]|General[912012]',
 '  reviews: total: 1  downloaded: 1  avg rating: 5',
 '    2004-5-31  cutomer:  ABTSEEYVYQ52M  rating: 5  votes:   9  helpful:   9']

In [286]:
def parse_data(lst):
    # temp_df = pd.DataFrame(columns=['ID', 'ASIN', 'Title', 'Group', 'Similar'])
    ID, ASIN, Title, Group, Similar = '', '', '', '', ''
    for line in lst:
        # print(line)
        if line.find('Id:') >= 0:
            ID = line.split('Id:')[1]
        elif line.find('ASIN:') >= 0:
            ASIN = line.split('ASIN:')[1]
        elif line.find('title:') >= 0:
            Title = line.split('title:')[1]
        elif line.find('group:') >= 0:
            Group = line.split('group:')[1]
        elif line.find('similar:') >= 0:
            Similar = line.split('similar:')[1]
    temp_df = pd.DataFrame([[ID, ASIN, Title, Group, Similar]], columns=['ID', 'ASIN', 'Title', 'Group', 'Similar'])
    return temp_df

In [345]:
for data in meta_data:
    df_ = parse_data(data)
    df = pd.concat([df, df_], ignore_index=True)

In [346]:
df.head()

,ID,ASIN,Title,Group,Similar
0,0,0771044445,,,
1,1,0827229534,Patterns of Preaching: A Sermon Sampler,Book,5 0804215715 156101074X 0687023955 068707...
2,2,0738700797,Candlemas: Feast of Flames,Book,5 0738700827 1567184960 1567182836 073870...
3,3,0486287785,World War II Allied Fighter Planes Trading Cards,Book,0
4,4,0842328327,Life Application Bible Commentary: 1 and 2 Ti...,Book,5 0842328130 0830818138 0842330313 084232...

In [349]:
df.to_csv('amazon_metadata.csv', index=0)

In [387]:
def split_sim(txt):
    return txt.split(" ")

In [469]:
df_ = df.copy()

In [470]:
df_.Similar = df_.Similar.astype('string')

In [472]:
df_.Similar = df_.Similar.apply(lambda x : re.split(r'\D+ ', x)[1:])

In [473]:
df_ = df_.explode('Similar', ignore_index=True)

In [476]:
df_.head(20)

,ID,ASIN,Title,Group,Similar
0,0,0771044445,,,NaN
1,1,0827229534,Patterns of Preaching: A Sermon Sampler,Book,0804215715
2,1,0827229534,Patterns of Preaching: A Sermon Sampler,Book,156101074
3,1,0827229534,Patterns of Preaching: A Sermon Sampler,Book,0687023955
4,1,0827229534,Patterns of Preaching: A Sermon Sampler,Book,0687074231
5,1,0827229534,Patterns of Preaching: A Sermon Sampler,Book,082721619X
6,2,0738700797,Candlemas: Feast of Flames,Book,0738700827
7,2,0738700797,Candlemas: Feast of Flames,Book,1567184960
8,2,0738700797,Candlemas: Feast of Flames,Book,1567182836
9,2,0738700797,Candlemas: Feast of Flames,Book,0738700525
10,2,0738700797,Candlemas: Feast of Flames,Book,0738700940
11,3,0486287785,World War II Allied Fighter Planes Trading Cards,Book,NaN
12,4,0842328327,Life Application Bible Commentary: 1 and 2 Ti...,Book,0842328130
13,4,0842328327,Life Application Bible Commentary: 1 and 2 Ti...,Book,0830818138
14,4,0842328327,Life Application Bible Commentary: 1 and 2 Ti...,Book,0842330313
15,4,0842328327,Life Application Bible Commentary: 1 and 2 Ti...,Book,0842328610
16,4,0842328327,Life Application Bible Commentary: 1 and 2 Ti...,Book,0842328572
17,5,1577943082,Prayers That Avail Much for Business: Executive,Book,157794349
18,5,1577943082,Prayers That Avail Much for Business: Executive,Book,0892749504
19,5,1577943082,Prayers That Avail Much for Business: Executive,Book,1577941829

In [483]:
df_ = df_.dropna()

In [450]:
# df_.Similar = df_.Similar.fillna('')

In [479]:
df_ = df_[~df_.duplicated()]

In [ ]:
df_.head()

In [461]:
df_.to_csv('amazon_metadata_.csv', index=0)

In [485]:
edge_data = df_[['ASIN', 'Similar']]

In [488]:
edge_data.to_csv('amazon_edge_list.csv', index=0)

In [491]:
edge_data = edge_data.rename(columns={'ASIN':'source', 'Similar':'target'})
edge_data.head()

        source      target
1   0827229534  0804215715
2   0827229534   156101074
3   0827229534  0687023955
4   0827229534  0687074231
5   0827229534  082721619X

In [493]:
edge_data['weight']=1
edge_data.head()

        source      target  weight
1   0827229534  0804215715       1
2   0827229534   156101074       1
3   0827229534  0687023955       1
4   0827229534  0687074231       1
5   0827229534  082721619X       1

In [500]:
edge_data.shape

(1763471, 3)

In [501]:
edge_data = edge_data.groupby(['source', 'target']).aggregate({'weight':'count'}).reset_index()

In [502]:
edge_data.shape

(1763471, 3)

Creating edge and node lists

In [170]:
df = pd.read_csv('../data/amazon_meta/amazon_metadata_.csv')

C:\Users\rsury\AppData\Local\Temp\ipykernel_12668\288823035.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/amazon_meta/amazon_metadata_.csv')

In [84]:
df.head()

  ID         ASIN                                     Title  Group     Similar
0  0   0771044445                                       NaN    NaN         NaN
1  1   0827229534   Patterns of Preaching: A Sermon Sampler   Book  0804215715
2  1   0827229534   Patterns of Preaching: A Sermon Sampler   Book   156101074
3  1   0827229534   Patterns of Preaching: A Sermon Sampler   Book  0687023955
4  1   0827229534   Patterns of Preaching: A Sermon Sampler   Book  0687074231

In [172]:
df.ASIN = df.ASIN.astype('string')
df.Similar = df.Similar.astype('string')

In [173]:
df['ASIN'] = df['ASIN'].str.strip()
df['Similar'] = df['Similar'].str.strip()

In [180]:
df = df[df['Similar'].notna()]
df.shape

(1763471, 5)

In [201]:
df = df[df.ASIN.isin(df.Similar)]
df.shape

(843277, 5)

In [222]:
df = df[df.Similar.isin(df.ASIN)]
df.shape

(553008, 5)

In [223]:
df = df.drop('ID', axis=1)

In [224]:
df.head()

         ASIN                                     Title  Group     Similar
1  0827229534   Patterns of Preaching: A Sermon Sampler   Book  0804215715
3  0827229534   Patterns of Preaching: A Sermon Sampler   Book  0687023955
4  0827229534   Patterns of Preaching: A Sermon Sampler   Book  0687074231
5  0827229534   Patterns of Preaching: A Sermon Sampler   Book  082721619X
6  0738700797                Candlemas: Feast of Flames   Book  0738700827

In [227]:
df = df.rename(columns={'ASIN':'source', 'Similar':'target'})
df.head()

       source                                     Title  Group      target
1  0827229534   Patterns of Preaching: A Sermon Sampler   Book  0804215715
3  0827229534   Patterns of Preaching: A Sermon Sampler   Book  0687023955
4  0827229534   Patterns of Preaching: A Sermon Sampler   Book  0687074231
5  0827229534   Patterns of Preaching: A Sermon Sampler   Book  082721619X
6  0738700797                Candlemas: Feast of Flames   Book  0738700827

In [228]:
df.shape

(553008, 4)

In [229]:
df.to_csv('../data/amazon_meta/edge_list_full.csv', index=None)

In [232]:
df.target.nunique()

171611

In [235]:
df_node = df[['source', 'Title', 'Group']]
df_node.head()

       source                                     Title  Group
1  0827229534   Patterns of Preaching: A Sermon Sampler   Book
3  0827229534   Patterns of Preaching: A Sermon Sampler   Book
4  0827229534   Patterns of Preaching: A Sermon Sampler   Book
5  0827229534   Patterns of Preaching: A Sermon Sampler   Book
6  0738700797                Candlemas: Feast of Flames   Book

In [241]:
df_node.shape

(171611, 3)

In [242]:
df_node = df_node.drop_duplicates()
df_node.shape

(171611, 3)

In [245]:
df_node.to_csv('../data/amazon_meta/node_list_full.csv', index=None, header=['ID', 'label', 'group'])

In [248]:
df_node = df_node.reset_index()

In [251]:
df_node = df_node.drop('index', axis=1)

In [252]:
df_node.head()

       source                                              Title   Group
0  0827229534            Patterns of Preaching: A Sermon Sampler    Book
1  0738700797                         Candlemas: Feast of Flames    Book
2  0842328327   Life Application Bible Commentary: 1 and 2 Ti...    Book
3  1577943082    Prayers That Avail Much for Business: Executive    Book
4  B00000AU3R                                              Batik   Music

In [278]:
df_idx = df.copy()

In [280]:
df_idx['ID1'] = 0
df_idx['ID2'] = 0

In [299]:
df_node.shape

(171611, 4)

In [311]:
df_node = df_node.rename(columns={'index':'idx'})

In [350]:
df_node = df_node.reset_index()

In [393]:
df_node.head()

,source,Title,Group,source_id
0,0827229534,Patterns of Preaching: A Sermon Sampler,Book,1
1,0738700797,Candlemas: Feast of Flames,Book,2
2,0842328327,Life Application Bible Commentary: 1 and 2 Ti...,Book,3
3,1577943082,Prayers That Avail Much for Business: Executive,Book,4
4,B00000AU3R,Batik,Music,5

In [392]:
df_node = df_node.drop('idx', axis=1)

In [395]:
df_node = df_node.rename(columns={'source':'label', 'source_id':'Id'})
df_node.head()

        label                                              Title   Group  Id
0  0827229534            Patterns of Preaching: A Sermon Sampler    Book   1
1  0738700797                         Candlemas: Feast of Flames    Book   2
2  0842328327   Life Application Bible Commentary: 1 and 2 Ti...    Book   3
3  1577943082    Prayers That Avail Much for Business: Executive    Book   4
4  B00000AU3R                                              Batik   Music   5

In [377]:
df_idx = df_idx.drop(columns=['ID1', 'ID2'], axis=1)

In [389]:
df_idx.head()

,source,Title,Group,target,source_id,target_id
1,0827229534,Patterns of Preaching: A Sermon Sampler,Book,0804215715,1,50175
3,0827229534,Patterns of Preaching: A Sermon Sampler,Book,0687023955,1,36822
4,0827229534,Patterns of Preaching: A Sermon Sampler,Book,0687074231,1,138053
5,0827229534,Patterns of Preaching: A Sermon Sampler,Book,082721619X,1,155436
6,0738700797,Candlemas: Feast of Flames,Book,0738700827,2,141360

In [397]:
df_idx = df_idx.rename(columns={'source':'from', 'source_id':'source', 'target':'to', 'target_id':'target'})
df_idx.head()

,from,Title,Group,to,source,target
1,0827229534,Patterns of Preaching: A Sermon Sampler,Book,0804215715,1,50175
3,0827229534,Patterns of Preaching: A Sermon Sampler,Book,0687023955,1,36822
4,0827229534,Patterns of Preaching: A Sermon Sampler,Book,0687074231,1,138053
5,0827229534,Patterns of Preaching: A Sermon Sampler,Book,082721619X,1,155436
6,0738700797,Candlemas: Feast of Flames,Book,0738700827,2,141360

In [385]:
unique= pd.unique(np.append(df_idx['source'].unique(), df_idx['target'].unique()))

def get_unique_id(x):
    return np.where(unique==x)[0][0]+1

df_idx['source_id']= df_idx['source'].map(get_unique_id)
df_idx['target_id']= df_idx['target'].map(get_unique_id)

In [387]:
df_node['source_id'] = df_node['source'].map(get_unique_id)

In [398]:
df_idx.to_csv('../data/amazon_meta/node_list_final.csv', index=0)
df_node.to_csv('../data/amazon_meta/edge_list_final.csv', index=0)

In [ ]:
for idx, row in df_idx.iterrows():
    row['ID1'] = df_node.iloc[df_node[df_node.source == row['source']].index]['idx'].values[0]
    row['ID2'] = df_node.iloc[df_node[df_node.source == row['target']].index]['idx'].values[0]