In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import networkx as nx

In [12]:
df = pd.read_csv('./data/bike/1.csv')
df.head()

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name
0,116223078,840,19512,14/01/2022 15:17,624,"Courland Grove, Wandsworth Road",14/01/2022 15:03,440,"Kennington Oval, Oval"
1,116171339,840,16851,12/01/2022 16:04,437,"Vauxhall Walk, Vauxhall",12/01/2022 15:50,440,"Kennington Oval, Oval"
2,116196860,540,5063,13/01/2022 15:15,186,"South Wharf Road, Paddington",13/01/2022 15:06,210,"Hinde Street, Marylebone"
3,116338933,1020,20385,18/01/2022 21:18,624,"Courland Grove, Wandsworth Road",18/01/2022 21:01,435,"Kennington Station, Kennington"
4,116176657,600,18885,12/01/2022 18:28,676,"Hartington Road, Stockwell",12/01/2022 18:18,437,"Vauxhall Walk, Vauxhall"

In [ ]:
for i in range(2, 12):
    df_ = pd.read_csv(f'./data/bike/{i}.csv')
    df = pd.concat([df, df_], ignore_index=True)

In [15]:
df.shape

(2267313, 9)

In [20]:
df.head()

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name
0,116223078,840,19512,14/01/2022 15:17,624,"Courland Grove, Wandsworth Road",14/01/2022 15:03,440,"Kennington Oval, Oval"
1,116171339,840,16851,12/01/2022 16:04,437,"Vauxhall Walk, Vauxhall",12/01/2022 15:50,440,"Kennington Oval, Oval"
2,116196860,540,5063,13/01/2022 15:15,186,"South Wharf Road, Paddington",13/01/2022 15:06,210,"Hinde Street, Marylebone"
3,116338933,1020,20385,18/01/2022 21:18,624,"Courland Grove, Wandsworth Road",18/01/2022 21:01,435,"Kennington Station, Kennington"
4,116176657,600,18885,12/01/2022 18:28,676,"Hartington Road, Stockwell",12/01/2022 18:18,437,"Vauxhall Walk, Vauxhall"

In [28]:
df = df.rename(columns={'Rental Id':'Rental_ID', 'Bike Id': 'Bike_ID', 'End Date':'end_date', 'EndStation Id':'end_id', 'EndStation Name':'end_name', 'Start Date':'start_date', 'StartStation Id':'start_id', 'StartStation Name':'start_name' })

In [32]:
df.end_date = pd.to_datetime(df.end_date)

In [34]:
df.start_date = pd.to_datetime(df.start_date)

In [64]:
df.to_csv('./data/bike_travel.csv', index=0)

In [74]:
travel_info = df[['start_id', 'end_id']]
travel_info = travel_info.rename(columns={'start_id':'source', 'end_id':'target'})
travel_info['weight'] = 1
travel_info.head()

   source  target  weight
0     440     624       1
1     440     437       1
2     210     186       1
3     435     624       1
4     437     676       1

In [75]:
travel_info = travel_info.groupby(['source', 'target']).aggregate({'weight':'count'}).reset_index()

In [76]:
travel_info.shape

(277852, 3)

In [78]:
travel_info.to_csv('./data/bike_travel/bike_travel_edge_list.csv', index=0)

In [77]:
bike_travel = nx.from_pandas_edgelist(travel_info, create_using=nx.DiGraph())